html, body {
    margin: 0;
    padding: 0;
}

header {
    background:rgb(255, 250, 250);
    padding: 2px;
}

h1{
    color: grey;
    font-size: 20px;
}

img{
    height: 400px;
}

li, p{
    font-size: 18px;
}

#logo{
    height: 52px;
    margin-right: 200px;
}

.navigation a{
    font-size: 18px;
    margin-right: 35px;
    color:rgb(161, 136, 136);
    font-family: Helvetica, sans-serif;
    font-weight: 500;
}

form{
    width: 80%;
    margin:100px auto;
}

footer{
    margin-top: 60px;
}

footer h4{
    display: inline;
    margin-right: 50px;
}