html, body {
    margin: 0;
    padding: 0;
}

header {
    background:rgb(245, 244, 244);
    padding: 20px;
}

h1{
    color: grey;
    font-size: 20px;
}

img{
    height: 400px;
}

p{
    font-size: 17px;
}


.navigation a{
    font-size: 18px;
    margin-right:35px;
}