{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block body %}

<h2> About Us </h2>
<p> Established in January 2018 as a not for profit organization Lence focuses on providing high quality
    software systems to small businesses at a large scale. It is well known that developing a high assurance 
    software system is a very difficult and costly due to the risks involved in software development life cycle. </p>

<h2> Team </h2>
<ul>
    <li>Ankit</li>
    <li>Shohan</li>
    <li>Kamal</li>
    <li>Nisarg</li>
</ul>
{% endblock %}