{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
<img class="img-responsive" src="https://cdn-images-1.medium.com/max/1400/1*iFN_PWPWs6TQ9JzDp2v9Wg.jpeg" alt="">

<h1>Software for the masses</h1>
<p>Powering small businesses with open source software.</p>

<h1> Our Mission </h1>
<p> Lence is a not for profit software development organization. Our aim is to provide highly reliable software solutions
    to small businesses around Australia. We believe that every business deserves high quality software regardless of their size.

</p>
{% endblock %}