{% extends "layout.html" %}

{% block title %}
    Apply for a job
{% endblock %}

{% block body%}
    <form class="jumbotron" action="">
        <h3 class="display-4">Apply for a role</h3>
        <br>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-text text-muted" for="">First Name</label>
                    <input class="form-control form-control-lg" type="text">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="" class="form-text text-muted">Last Name</label>
                    <input type="text" class="form-control form-control-lg">
                </div>
            </div>
        </div>        
        <div class="form-group">
            <label for="" class="form-text text-muted">Email</label>
            <input type="text" class="form-control form-control-lg">
        </div>
        <div class="form-group">
            <label for="" class="form-text">Job Role</label>
            <select class="form-control" name="" id="">
                <option value="">Junior Engineer</option>
                <option value="">ICT Engineer</option>
                <option value="">Junior Accountant</option>
            </select>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="" class="form-text">Upload Cover letter</label>
                    <input type="file" class="form-control-file">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="" class="form-text">Upload CV</label>
                    <input type="file" class="form-control-file">
                </div>
            </div>
        </div>
        <br>
        <button class="btn btn-primary">Send</button>
    </form>

{% endblock %}