<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lence | {% block title %} {% endblock %} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css?{{timestamp}}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional Bootstrap theme -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../static/js/careers.js?{{timestamp}}"></script>
    <script src="../static/js/settings.js?{{timestamp}}"></script>
</head>
<body class="container">
    <header>
        <div class="navigation text-center">
            <img src="../static/img/lence-logo.png" id="logo" height="30" alt="">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('about') }}">About Us</a>
            <a href="{{ url_for('projects') }}">Projects</a>
            <a href="{{ url_for('careers') }}">Careers <span class="badge badge-primary">3</span></span></a>
            <a href="{{ url_for('contact') }}">Contact</a>
        </div>

    </header>
    {% block body %}{% endblock %}
    <footer>
        <h4 class="">Monash Companies</h4>
        <Button class="btn btn-default"><a href="https://mas3.herokuapp.com/index">MAS3</a></Button>
        <Button class="btn btn-default"><a href="https://aia.mesalmankhan.com">Australian Innovation Academy</a></Button>
        <Button class="btn btn-default"><a href="https://lence.herokuapp.com/">LENCE</a></Button>
        <Button class="btn btn-default"><a href="#">E-Portal</a></Button>
    </footer>
</body>
</html>